body {
  color: rgb(10, 10, 10);
  background: #E1E2E1;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.6em;
}



h1, h2, h3 {
  font-family: 'Coming Soon', cursive;
}


h1 {
  color: #ff1744;
  font-size: 22px;
}
h2 {
  color: #ff616f;
  font-size: 18px;
}

h3 {
  color: #c4001d;
  font-size: 18px

}

.links-media{
  color: #ff6f00;
  font-size: 22px
}

.links-media:hover{
  color: #81d4fa;

}


.container {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}


.img-circle {
  border-radius: 50%;
}

.list-inline li {
  display: inline-block;
  padding: 20px;
}
.list-inline {
  padding-left: 0px;
}

a.icon-style {
  color: #ccc;
  text-decoration: none;
}



.button-one {
  background-color: #DD5555;
  color: white;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
